# Systèmes d'exploitation
.DS_Store
Thumbs.db
desktop.ini

# Editeurs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Journal et debris de build (aucun build dans ce projet, precaution)
*.log
*.tsbuildinfo
